# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# Database
db.sqlite3

# IDE
.idea/
.vscode/

# Django
staticfiles/
media/

# OS
.DS_Store
Thumbs.db